<%= form_with(model: @person, local: false) do |form| %>
  <div class="modal-body">
    <div class="field form-group">
      <br/>
      <%= form.select :salutations, options_for_select([["Mr."],["Mrs."],["Ms."]]), {}, {class:"form-control"} %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.text_field :first_name, class:"form-control", placeholder:"First Name" %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.text_field :middle_name, class:"form-control", placeholder:"Middle Name" %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.text_field :last_name, class:"form-control", placeholder:"Last Name" %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.text_field :ssn, class:"form-control", placeholder:"SSN" %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.date_field :birth_date, class:"form-control", placeholder:"Birth Date" %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.text_area :comment, class:"form-control", placeholder:"Type your comments here..." %>
    </div>

    <div class="field form-group">
      <br/>
      <%= form.number_field :user_id, id: :people_user_id, class:"form-control", value: Current.user.id, type: :hidden %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
    <%= form.submit class:'btn btn-outline-success'%> 
  </div>
<% end %>
