<tr id="personRow_<%= person.id %>">
  <td><%= person.salutations %></td>
  <td><%= person.first_name %></td>
  <td><%= person.middle_name %></td>
  <td><%= person.last_name %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" data-turbolinks="false" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Show', person, class:"text-decoration-none dropdown-item"%></li>
        <li><%= link_to 'Edit', edit_person_path(person), class:"text-decoration-none dropdown-item", data: { bs_toggle: 'modal', bs_target: '#EditPersonModal', remote: true} %></li>
        <li><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-decoration-none text-danger dropdown-item" %></li>
      </ul>
    </div>
  </td>
</tr> 