<tr id="phoneRow_<%= phone_number.id %>">
  <td><%= phone_number.phone_number %></td>
  <td><%= phone_number.comments %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Edit', edit_person_phone_number_path(@person, phone_number), class:"text-decoration-none dropdown-item", data: { bs_toggle: 'modal', bs_target: '#EditPhoneModal', remote: true} %></li>
        <li><%= link_to 'Destroy', person_phone_number_path(@person, phone_number), method: :delete, data: { confirm: 'Are you sure?' }, class:"text-decoration-none text-danger dropdown-item" %></li>
      </ul>
    </div>
  </td>
</tr>