  <% if Current.user %>
    Hello <%= Current.user.email %><br>
    <%= link_to 'Edit Password', edit_password_path, class:"btn btn-secondary" %>
    </br></br>
    <%= button_to 'Logout', logout_path, method: :delete, class:"btn btn-primary" %>
    
    <%= button_to 'Delete Account', deleteaccount_path, method: :delete, data: { confirm: 'Are you sure? This cannot be undone' }, class:"btn btn-danger" %>
    <% else %>
    <div class="container">
      <p>You must login or signup to access your contacts</p>
    </div>
    <%= link_to 'Sign Up', users_new_path, class:"btn btn-primary"%>
    <%= link_to 'Login', sign_in_path, class:"btn btn-primary"%>
  <% end %>
