<%= form_with(model:[@person, address], local: false) do |form| %>
 <div class="modal-body">
    <div class="field form-group">
      <%= form.text_field :street, class:"form-control", placeholder:"Street" %>
    </div>

    <div class="field form-group">
      </br>
      <%= form.text_field :town, class:"form-control", placeholder:"City/Town" %>
    </div>

    <div class="field form-group">
      </br>
      <%= form.text_field :zip_code, class:"form-control", placeholder:"Zip code" %>
    </div>

    <div class="field">
      </br>
      <%= form.text_field :state, class:"form-control", placeholder:"State" %>
    </div>

    <div class="field form-group">
      </br>
      <%= form.country_select :country, {}, {class:"form-select"} %>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary close-modal" data-bs-dismiss="modal">Close</button>
      <%= form.submit class:"btn btn-outline-success" %>
  </div>
<% end %>
