<h1>Emails</h1>

<div class="table-responsive"><table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>Email</th>
      <th>Comments</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= email.email %></td>
        <td><%= email.comments %></td>
        <td><%= email.person_id %></td>
        <td><%= link_to 'Show', person_email_path(@person, email) %></td>
        <td><%= link_to 'Edit', edit_person_email_path(@person, email) %></td>
        <td><%= link_to 'Destroy', person_email_path(@person, email), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Email', new_person_email_path %> |
<%= link_to 'Back to People', people_path %>

