<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @email.comments %>
</p>

<p>
  <strong>Person:</strong>
  <%= @email.person_id %>
</p>

<%= link_to 'Edit',  edit_person_email_path(@email) %> |
<%= link_to 'Back', person_emails_path(@person) %>
