<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @email.comments %>
</p>

<p>
  <strong>Person:</strong>
  <%= @email.person_id %>
</p>

<%= link_to 'Edit',  edit_person_email_path([@person, @email]) %> |
<%= link_to 'Back to People', people_path %> |
<%= link_to 'Back to Emails', person_emails_path %> 
